<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, you just got bamboooozzzzleeedd</p>
            <iframe src="https://giphy.com/embed/AAsj7jdrHjtp6" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </LayoutView>
    </NotFound>
</Router>
