@page "/koordinator-oversigt"
@using VagtplanApp.Client.Services
@using VagtplanApp.Shared.Model


<h1 class="mb-3 mt-3">Oversigt over vagter</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Start Tid</th>
            <th>Slut Tid</th>
            <th>Antal Personer</th>
            <th>Rediger Vagt</th>
        </tr>
    </thead>
    <tbody>

        <!--Viser bookings udfra det som vælges i dropdown-menu-->
        @foreach (var shift in shiftList)
        {
            <tr>
                <td>@shift.date</td>
                <td>@shift.startTime.ToString("HH:mm")</td> 
                <td>@shift.endTime.ToString("HH:mm")</td>
                <td>@shift.numberOfPersons</td>
                <button class="btn btn-secondary" @onclick="ShowModal">Rediger oplysninger</button>

                <ModalDialog @ref="modalRef" Title="Rediger oplysninger">
                    <EditForm Model="@UpdateShiftDetails" OnValidSubmit="@UpdateShiftDetails">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="col-md-6 mb-3">
                            <label for="dato">Dato</label>
                            <input type="date" id="dato" @bind="shift.date" class="form-control" required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="start-dato">Start tid</label>
                            <input type="time" id="start-dato" @bind="shift.startTime" class="form-control" required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="slut-dato">Slut tid</label>
                            <input type="time" id="slut-dato" @bind="shift.endTime" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="antalPersoner">Antal Personer</label>
                            <InputNumber id="AntalPersoner" @bind-Value="shift.numberOfPersons" class="form-control" required />
                        </div>

                        <div class="col-12 mb-3">
                            <button type="submit" class="btn btn-primary">Opdater</button>
                        </div>

                    </EditForm>
                </ModalDialog>
            </tr>
        }
    </tbody>
   </table>


@code {
    private List<Shift> shiftList = new List<Shift>(); 
    private Shift updatedShift = new Shift();
    private ModalDialog modalRef { get; set; }

    [Inject]
    private IShiftService mService { get; set; }



    protected override async Task OnInitializedAsync()
    {
        shiftList = (await mService.GetAllShifts());
    }

    private void ShowModal()
    {
        modalRef.Open();
    }

    private async Task UpdateShiftDetails()
    {
        await mService.UpdateShift(updatedShift);
        modalRef.Close();
    }
}
