@page "/"
@page "/login"
@using VagtplanApp.Shared.Model;
@using VagtplanApp.Client.Shared;
@using VagtplanApp.Client.Services;
@using Blazored.LocalStorage;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavigationManager



<h3>Log ind</h3>

<EditForm Model="@logInPerson" OnValidSubmit="@AuthenticateLogin">
    <DataAnnotationsValidator /> <!--vores form kan læse annotations som [Required] og [EmailAddress] fra vores klasser-->
    <ValidationSummary /> <!--Skriver fejlen fra annotations-->

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="@logInPerson.Email" />
    </div>

    <div class="form-group">
        <label for="password">Adgangskode:</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="@logInPerson.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Log ind</button>

</EditForm>

<button class="btn btn-secondary" @onclick="ShowModal">Opret bruger</button>

<ModalDialog @ref="modalRef" Title="Opret ny person">
    <EditForm Model="@newPerson" OnValidSubmit="@CreatePerson">
        <DataAnnotationsValidator />
        <ValidationSummary />


        <div class="form-group">
            <label for="newEmail">E-mail:</label>
            <InputText id="newEmail" class="form-control" @bind-Value="@newPerson.Email" />
        </div>

        <div class="form-group">
            <label for="newAdgangskode">Adgangskode:</label>
            <InputText id="newAdgangskode" type="password" class="form-control" @bind-Value="@newPerson.Password" />
        </div>

        <div class="form-group">
            <label for="tlfnr">Telefonnummer:</label>
            <InputNumber id="tlfnr" class="form-control" @bind-Value="@newPerson.Telefonnummer" />

        </div>

        <div class="form-group">
            <label for="forNavn">Fornavn:</label>
            <InputText id="forNavn" class="form-control" @bind-Value="@newPerson.ForNavn" />
        </div>

        <div class="form-group">
            <label for="efterNavn">Efternavn:</label>
            <InputText id="efterNavn" class="form-control" @bind-Value="@newPerson.EfterNavn" />
        </div>

        <div class="form-group">
            <label for="fødselsDato">Fødselsdato:</label>
            <InputDate id="fødselsDato" class="form-control" @bind-Value="@newPerson.FødselsDato" />
        </div>

        <div class="form-group">
            <label for="køn">Køn:</label>
            <InputSelect id="køn" class="form-control" @bind-Value="@newPerson.Køn">
                <option value="">Vælg køn...</option>
                <option value="Mand">Mand</option>
                <option value="Kvinde">Kvinde</option>
                <option value="Andet">Andet</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="rolle">Rolle:</label>
            <InputRadioGroup id="rolle" class="form-control" @bind-Value="@newPerson.isKoordinator">
                <InputRadio id="isFrivillig" Value="false" /> Frivillig
                <InputRadio is="isKoordinator" Value="true" /> Koordinator
            </InputRadioGroup>
        </div>

        <button type="submit" class="btn btn-success">Opret</button>
    </EditForm>
</ModalDialog>




@code {
    private Person newPerson = new Person();
    private Person logInPerson = new Person();
    private ModalDialog modalRef { get; set; }

    [Inject]
    private IPersonService mService { get; set; }

    private async Task CreatePerson()
    {
        await mService.AddPerson(newPerson);
        modalRef.Close();
    }

    private void ShowModal()
    {
        modalRef.Open();
    }

    private async Task AuthenticateLogin()
    {
        //Kalder vores Authenticate metode
        var user = await mService.Authenticate(logInPerson.Email, logInPerson.Password);
        
        if (user != null)
        {
            await localStore.SetItemAsync("currentUser", user); // Gemmer brugerdata i local storage
            mService.SetCurrentUser(user);
            NavigationManager.NavigateTo(user.isKoordinator ? "/koordinator-side" : "/frivillig-side", forceLoad: true);
        }
        else
        {
            // Håndter fejl ved login
        }
    }
}